<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verifica tu correo electrónico</title>
</head>
<body>
<h1 style="color: #0b673c;">¡Hola desde NoWait!</h1>
<p style="color: #0b673c;">
    Gracias por registrarte con nosotros. Para completar el proceso y activar tu cuenta, por favor, verifica tu dirección de correo electrónico.
</p>

<!-- Botón de verificación -->
<div style="text-align: center; margin-top: 20px;">
    <a th:href="@{'https://0a7d-90-74-245-177.ngrok-free.app/user/verifyEmail/' + ${nickName} + '/' + ${email}}" style="
            text-decoration: none;
            background-color: #0b673c;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;">
        Verificar Correo Electrónico
    </a>
</div>

<!-- Mensaje de no respuesta -->
<h3 style="color:#0b673c; margin-top: 40px;">
    Por favor, no respondas a este correo, ya que no monitoreamos esta dirección.
    Si necesitas asistencia, puedes contactarnos a través de nuestra <a href="https://www.ejemplo.com/soporte" style="color: #0b673c; text-decoration: underline;">página de soporte</a>.
</h3>
</body>
</html>
